@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #5f0a87;
  --color-secondary: #a4508b;
  --color-text: #191308;
  --gradient-primary: linear-gradient(
    172deg,
    var(--color-primary) 74%,
    var(--color-secondary) 0%
  );
  --font-primary: "Ubuntu";
  --font-secondary: "Open Sans";
}
